/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  font-weight: bold;
}
h4 {
  font-size: 2rem;
  padding-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 500px) {
  h4 {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 1.5rem;
  padding-bottom: 10px;
  font-weight: bold;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
header nav .links {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 1%;
}
header nav .links button {
  padding: 4px;
}
header nav .links a {
  font-size: 2rem;
  text-decoration: none;
  color: #212529;
  margin: 10px;
}
@media (max-width: 500px) {
  header nav .links a {
    font-size: 1.5rem;
  }
}
footer h4 {
  text-align: center;
}
footer .social {
  display: flex;
  justify-content: center;
}
footer .social .fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 8px;
  border-radius: 50%;
}
footer .social .fa:hover {
  opacity: 0.7;
}
footer .social .fa-facebook {
  background: #3B5998;
  color: white;
}
footer .social .fa-twitter {
  background: #55ACEE;
  color: white;
}
footer .social .fa-instagram {
  background: #125688;
  color: white;
}
footer .social .fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
footer a {
  text-decoration: none;
  color: #17A2B8;
}
.container .top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 67vh;
  background-image: url(../img/cheapest-online.jpg);
}
.container .top-section h2 {
  text-align: center;
  color: red;
  font-size: 4rem;
}
@media (max-width: 500px) {
  .container .top-section h2 {
    font-size: 2rem;
  }
}
.container .top-section button {
  border: solid 1px;
  border-radius: 10px;
  padding: 1%;
  font-size: 2rem;
  text-align: center;
  width: 300px;
  align-self: center;
  background-color: lightcoral;
  color: white;
}
.container .top-section button:hover {
  background-color: #FFEBCD;
  color: #212529;
}
@media (max-width: 500px) {
  .container .top-section button {
    width: 200px;
  }
}
.container .top-section button a {
  text-decoration: none;
  color: whitesmoke;
}
.container .top-section button a:hover {
  color: #212529;
}
.container .mid {
  padding: 2%;
  align-self: center;
}
.container .mid h2,
.container .mid p {
  text-align: center;
}
.container .mid-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .container .mid-section {
    flex-direction: column;
  }
}
.container .mid-section .fashion {
  width: 30%;
}
@media (max-width: 500px) {
  .container .mid-section .fashion {
    width: 100%;
    padding: 3%;
  }
}
.container .mid-section button,
.container .mid-section p {
  padding: 1%;
}
.container .top-text h2 {
  text-align: center;
  padding: 2%;
}
@media (max-width: 500px) {
  .container .top-text h2 {
    font-size: 2rem;
  }
}
.container .text {
  display: flex;
  padding: 2%;
}
@media (max-width: 500px) {
  .container .text {
    flex-direction: column;
    width: 100%;
    padding: 1%;
  }
}
.container .text p {
  padding: 1%;
}
.container .contain {
  padding: 2%;
}
.container .contain h1 {
  padding-bottom: 2%;
}
.container .contain input[type=text],
.container .contain input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}
@media (max-width: 500px) {
  .container .contain input[type=text],
  .container .contain input[type=password] {
    width: 100%;
  }
}
.container .contain input[type=checkbox] {
  margin-bottom: 15px;
}
.container .contain button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}
.container .contain button:hover {
  opacity: 1;
}
@media (max-width: 500px) {
  .container .contain button {
    width: 40%;
  }
}
.container .contain .cancelbtn {
  background-color: #f44336;
}
.container .contain a {
  text-decoration: none;
  color: #17A2B8;
}
