header {
   


   nav {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
   
   



   .links {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      padding: 1%;
      
      

      h1 {
         color: @font-color;
      }
      
     button {
        padding: 4px;
        

        a {
           font-size: 1.5rem;
           color: @font-color;
        }

     }


      a {
         font-size: 2rem;
         text-decoration: none;
         color: @silver;
         margin: 10px;



         &:hover {
            color: @eastern-blue;
         }



         @media @mobile {
            font-size: 1.5rem;
         }
      }
   }


}
}